
Web.config
obj/Debug/MIM.pdb
obj/Debug/MIM.dll
obj/Debug/MIM.csproj.GenerateResource.cache
obj/Debug/MIM.csproj.CoreCompileInputs.cache
obj/Debug/MIM.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/MIM.pdb
bin/MIM.dll.config
bin/MIM.dll
