@{
    Html.RenderPartial("Header");
    ViewBag.Title = LanguageHelper.GetString("Model.Users");
}
<div class="row">
    <div class="col-12">

        <div class="card card-custom card-stretch gutter-b">

            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">

                    <span class="text-muted mt-3 font-weight-bold font-size-sm">

                    </span>
                </h3>
                <div class="card-toolbar">

                </div>
            </div>

            <div class="card-body pt-0 pb-3">
                <div class="tab-content">
                    <div id="dt-users_table">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function CreateModal() {
        $.ajax({
            url: '/Users/Create',
            method: 'GET',
            success: function (data) {
                console.log("test")
                $("#modal-area").html(data)
                $("#user-modal").modal('show');
            },
        });
    }
    function EditModal(user_id) {
        $.ajax({
            url: '/Users/Edit/' + user_id + '/',
            data: { id: user_id },
            method: 'GET',
            success: function (data) {
                $("#modal-area").html(data)
                $("#user-modal").modal('show');
            },
        });
    }
    function ShowModal(user_id) {
        $.ajax({
            url: '/Users/Show/' + user_id + '/',
            method: 'GET',
            success: function (data) {
                $("#modal-area").html(data)
                $("#user-modal").modal('show');
            },
        });
    }
    function DeleteModal(user_id) {
        $.ajax({
            url: '/Users/Delete/' + user_id + '/',
            method: 'GET',
            success: function (data) {
                $("#modal-area").html(data)
                $("#user-modal").modal('show');
            },
        });
    }
</script>

@{
    Html.RenderPartial("List");
}